In [155]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

df = pd.read_csv("goodone.csv")
df.replace(to_replace="None", value=np.nan, inplace=True)
df.head()

,locality,Price,Type_property,Sale_type,Number_bedrooms,Living_area,fully_equipped_kitchen,Furnished,terrace,garden,surface_land,surface_area_plot,facades_number,Swimming_pool,building_state,fire_place
0,6800,145500,apartment,for-sale,1,40,1,0,8,NaN,40,NaN,NaN,0,Good,NaN
1,6980,185000,mixed-use-building,for-sale,4,226,1,NaN,NaN,NaN,226,100,3,0,To be done up,NaN
2,6960,228000,apartment,for-sale,4,290,0,0,NaN,300,290,NaN,4,NaN,To renovate,NaN
3,6880,249500,house,for-sale,3,176,1,0,18,620,176,620,3,0,As new,NaN
4,6870,295000,house,for-sale,6,229,1,0,NaN,NaN,229,5798,4,0,To renovate,NaN

In [148]:
print(df['fully_equipped_kitchen'].isna().sum()) #1091
print(df['fire_place'].isna().sum()) #1091
print(df['terrace'].isna().sum()) #1091

22575
57049
38022

In [149]:
#knowing how many were missing 

#get rid of empty lines of information 
df.dropna(subset=['Living_area', 'facades_number','building_state'], inplace=True)

#get rid of collumns that I don't need

df.drop("surface_area_plot", inplace=True,axis=1)
df.drop("surface_land", inplace=True,axis=1)
df.drop("Sale_type", inplace=True,axis=1)

#replace Nan into 0
df['garden'].fillna(0, inplace=True)
df['terrace'].fillna(0, inplace=True)
df['fire_place'].fillna(0, inplace=True)
df['fully_equipped_kitchen'].fillna(0, inplace=True)
df['Furnished'].fillna(0, inplace=True)
df.reset_index(inplace=True)


#modifying the types of the columns
df['Type_property'] = df['Type_property'].astype('string')
df['building_state'] = df['building_state'].astype('string')

df['garden'] = pd.to_numeric(df['garden'])
df['Number_bedrooms'] = pd.to_numeric(df['Number_bedrooms'])
df['Living_area'] = pd.to_numeric(df['Living_area'])
df['garden'] = pd.to_numeric(df['garden'])
df['facades_number'] = pd.to_numeric(df['facades_number'])
df['Swimming_pool'] = pd.to_numeric(df['Swimming_pool'])

df['terrace'] = pd.to_numeric(df['terrace'])
df['fire_place'] = pd.to_numeric(df['fire_place'])
df['fully_equipped_kitchen'] = pd.to_numeric(df['fully_equipped_kitchen'])
df['Furnished'] = pd.to_numeric(df['Furnished'])

#creating a province column
df["provinces"] = df["locality"]
df['provinces'] = np.where(df['locality'].between(1000,1299), "Brussel", df['provinces'])
df['provinces'] = np.where(df['locality'].between(6600,6999), "Luxembourg", df['provinces'])
df['provinces'] = np.where(df['locality'].between(2000,2999), "Anvers", df['provinces'])
df['provinces'] = np.where(df['locality'].between(1300,1499), "W.brabant", df['provinces'])
df['provinces'] = np.where(df['locality'].between(7000,7999), "Hainaut", df['provinces'])
df['provinces'] = np.where(df['locality'].between(6000,6599), "Hainaut", df['provinces'])

df['provinces'] = np.where(df['locality'].between(3500,3999), "Limbourg", df['provinces'])
df['provinces'] = np.where(df['locality'].between(5000,5680), "Namur", df['provinces'])
df['provinces'] = np.where(df['locality'].between(9000,9999), "E.Fanders", df['provinces'])
df['provinces'] = np.where(df['locality'].between(1500,1999), "F.Brabant", df['provinces'])
df['provinces'] = np.where(df['locality'].between(3000,3499), "F.Brabant", df['provinces'])

df['provinces'] = np.where(df['locality'].between(8000,8999), "W.Flanders", df['provinces'])
df['provinces'] = np.where(df['locality'].between(4000,4999), "Liege", df['provinces'])

In [150]:
p25 = df['Price'].quantile(0.25)
p75 = df['Price'].quantile(0.75)
iqr = p75-p25
upper_limit = p75 + 1.5 * iqr
lower_limit = p25 - 1.5 * iqr
df= df.drop(df[df['Price'] > upper_limit].index)
df= df.drop(df[df['Price'] < lower_limit].index)
#removing outliers from garden 
p25 = df['garden'].quantile(0.25)
p75 = df['garden'].quantile(0.75)
iqr = p75-p25
upper_limit = p75 + 1.5 * iqr
lower_limit = p25 - 1.5 * iqr
df= df.drop(df[df['garden'] > upper_limit].index)
df= df.drop(df[df['garden'] < lower_limit].index)
#removing outliers from living area
p25 = df['Living_area'].quantile(0.25)
p75 = df['Living_area'].quantile(0.75)
iqr = p75-p25
upper_limit = p75 + 1.5 * iqr
lower_limit = p25 - 1.5 * iqr
df= df.drop(df[df['Living_area'] > upper_limit].index)
df= df.drop(df[df['Living_area'] < lower_limit].index)

In [151]:
df.loc[(df.terrace == 0),'terrace']= 0
df.loc[(df.terrace > 0),'terrace']= 1

df.loc[(df.fire_place == 0),'fire_place']= 0
df.loc[(df.fire_place > 0),'fire_place']= 1

df.loc[(df.garden == 0),'garden']= 0
df.loc[(df.garden > 0),'garden']= 1

df.loc[(df.garden == 0),'garden']= 0
df.loc[(df.garden > 0),'garden']= 1

df.drop(df[df['facades_number'] > 4 ].index, inplace = True)
df.drop(df[df['Number_bedrooms'] > 100].index, inplace = True)

df.describe()

,index,locality,Price,Number_bedrooms,Living_area,fully_equipped_kitchen,Furnished,terrace,garden,facades_number,Swimming_pool,fire_place
count,20096.000000,20096.000000,20096.000000,19798.000000,20096.000000,20096.000000,20096.000000,20096.000000,20096.000000,20096.000000,6458.000000,20096.000000
mean,29089.747363,4489.545482,318252.834693,2.781493,142.084992,0.691929,0.024731,0.377189,0.102707,2.638037,0.031124,0.040207
std,16631.544533,2925.980704,155521.537642,1.181484,63.363956,0.461708,0.155309,0.484695,0.303583,0.809900,0.173667,0.196449
min,1.000000,1000.000000,15000.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,15206.500000,2000.000000,205000.000000,2.000000,93.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000
50%,27879.000000,3630.000000,287000.000000,3.000000,130.000000,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000
75%,44234.250000,7120.000000,395000.000000,3.000000,180.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.000000,0.000000
max,59549.000000,9991.000000,850000.000000,37.000000,332.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000

In [152]:
df.drop("index", inplace=True,axis=1)
df.drop("locality", inplace=True,axis=1)

# df["building_state"] = df["building_state"].astype('category')
# df["building_state"] = df["building_state"].cat.codes
df.dropna(inplace=True)
df.head()

,Price,Type_property,Number_bedrooms,Living_area,fully_equipped_kitchen,Furnished,terrace,garden,facades_number,Swimming_pool,building_state,fire_place,provinces
0,185000,mixed-use-building,4.0,226,1,0,0,0,3,0.0,To be done up,0,Luxembourg
3,295000,house,6.0,229,1,0,0,0,4,0.0,To renovate,0,Luxembourg
10,150000,apartment,1.0,48,0,0,0,0,4,0.0,As new,0,Luxembourg
15,380000,villa,4.0,180,1,0,0,0,4,0.0,As new,0,Namur
20,250000,house,5.0,190,1,0,0,0,4,0.0,To renovate,0,Luxembourg

In [153]:
#drop type property for now 
df.head()
df.to_csv("cleaned_new.csv")